@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotates {
      /* height: 100px; */
    animation: rotate 2s infinite;
  }
  